body{
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
#header{
    display: flex;
    height: 56px;
    background-color: #2887FF;
}
.header_left{
    width: 50%;
}
.header_right{
    width: 50%;
}
.header_title{
    padding:10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
}
.main_contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.play_column{
    display:flex;
}
/* playlist のデザイン*/
.img_middle{
    position: relative;
    top: 10%;
}

.play_info{
    max-width: 500px;
    width: 100%;
    overflow-x: hidden;
}
.play_info input{
    padding: 1px;
    outline: none;
    border: none;
}
#video-container {
    width: 100%;
    max-width: 1280px;
    aspect-ratio: 16 / 9;
    background: #ffffff;
    border-radius: 8px;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
#controls {
    width: 60%;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}
input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
}
#times{
    display: flex;
    gap: 5px;
}
#timedisplay{
    outline: none;
    border: none;
}
.header_right{
    text-align: right;
}
#config{
    padding: 12px;
    width:40px;
    display: inline-block;
}
#config_contents{
    display: flex;
    flex-direction: column;  
}
@media (max-width: 768px) {
    .main_contents {
        flex-direction: column;
        align-items: center;
    }
    #controls {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}