body{
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
#header{
    display: flex;
    height: 56px;
    padding: 0px;
    background-color: #2887FF;/* ここは自由にしていいところ→推し色に染めて */
}
#playinginfo{
  display: flex;
  flex-direction: column;
  max-height:300px;
}
#playlist-field {
  display: flex;
  max-height:450px;
  margin-top:3px;
  overflow: auto;
  flex-direction: column;
  border: 1px solid #000000;
}
#video-container {
  width: 100%;
  max-width: 1280px;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}
#video-container div{
  background: #ffffff;
}
#controls {
  width: 60%;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}
#search{
  min-width: 150px;
}
.overhidden{
  overflow: hidden;
}
.play_column{
    display:flex;
}
.top-center{
  display: flex;
  align-items: center;
}
.flex-right{
  justify-content: flex-end;
}
.item input[type="checkbox"]:checked ~ .content {
  display: none;
}
.item input[name="selectitem"]:checked ~ .content {
  background-color: #ffa028;
}
.content:hover{
  background-color: #cccccc;
  cursor:pointer;
}
.content {
/*  padding: 10px;
  background: #f0f0f0;*/
  border: 1px solid #ccc;
  width: calc(100% - 2px);
}
/* ここは自由にしていいところ */
.header_title{
    padding:10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
}
.main_contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.input-bordernone{
  border-radius: 5px;
  font-size:100%;
  background: transparent;
  outline: none;
  border: none;
}
.img_middle{
    position: relative;
    top: 0px;
}

.play_info{
    max-width: 500px;
    width: 100%;
    overflow-x: hidden;
}
.nowloading{
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  z-index: 999;
}
/*test*/
.tooltip {
  position: absolute;
  top: 30px;  /* guideアイコンより上に表示 */
  left: 100%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
@keyframes fadeOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  animation: fadeOut 0.3s forwards;
}
@media (max-width: 768px) {
  .main_contents {
    flex-direction: column;
    align-items: center;
  }
  #controls {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}